.parent{
    position: relative;
}

.child{
    position: absolute;
    top: 15px;
    right: 10px;
}

.childtwo{
    position: absolute;
    right: 95px;
    top: 15px;

}



body{
    background-color: oklch(0.25 0.02 252.45);
}